@page
@model BookingManagementRazorPages.Pages.Manager.CampusManagement.CampusManagementPageModel
@{
}

<div class="create-campus-btn">
    <a asp-page="/Manager/CampusManagement/CreateCampusPage" class="btn btn-primary">Thêm Campus</a>
</div>